@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
	.button {
		@apply flex items-center justify-center gap-2 whitespace-nowrap rounded-2xl border-2 border-white bg-white py-4 px-6 text-xl font-medium text-black outline-none duration-200 ease-linear hover:bg-transparent hover:text-white focus-visible:ring-4 focus-visible:ring-popup-magenta;
	}

	.menuButton {
		@apply transparent-900-hover mx-3 mt-0 mb-3 flex h-20 w-20 flex-col items-center justify-center rounded-xl font-medium duration-200 ease-linear hover:text-gray-200;
	}

	.selectedMenuButton {
		@apply mx-3 mb-3 flex h-20 w-20 flex-col items-center justify-center rounded-xl bg-white font-medium text-black duration-200 ease-linear hover:bg-gray-200;
	}

	.select {
		@apply form-select cursor-pointer rounded-2xl !border-white py-4 text-xl font-medium text-black !ring-transparent duration-200 ease-linear hover:bg-gray-200 focus-visible:!ring-4 focus-visible:!ring-popup-magenta;
	}

	.input {
		@apply rounded-2xl border-2 border-white bg-transparent py-4 px-6 text-xl text-white outline-none;
	}
}

/* body */
body {
	color: white;
	box-sizing: border-box;
	display: flex;
	flex-direction: column;
	min-height: 100vh;
	background: url(https://fluent-svelte.vercel.app/bloom-mica-dark.png);
	line-height: normal;
	font-family: system-ui, Arial;
	accent-color: red;
}

/* headings */
h1 {
	font-size: 64px;
	font-weight: 700;
}

/* main card */
h2 {
	font-size: 32px;
	font-weight: 700;
}

h3 {
	font-size: 24px;
	color: #d3cfcf;
}

/* secondary card */
h4 {
	font-size: 24px;
	font-weight: 500;
}

h5 {
	font-size: 18px;
	color: #d3cfcf;
}

.transparent-900 {
	background-color: hsla(0, 0%, 100%, 5.12%);
}

.transparent-800 {
	background-color: hsla(0, 0%, 100%, 3.26%);
}

.transparent-900-hover:hover {
	background-color: hsla(0, 0%, 100%, 4.8%);
}

.transparentHover:hover {
	background-color: hsla(0, 0%, 100%, 1.86%);
}

/* selection */
::selection {
	color: white;
	background: gray;
}

.progress {
	position: relative;
	width: 95%;
	height: 15px;
	background: hsla(0, 0%, 100%, 5.12%);
	border-radius: 30px;
	overflow: hidden;
}

.progressFill {
	width: 0%;
	height: 100%;
	background: white;
	transition: all 0.2s;
}
